svg{
    width : 1rem;
    height : 1rem;
}
.status_selection{
    padding : 0.6rem;
}
.apply_reset_btns{
    border:1px solid pink;
    border-radius:5px;
    padding : 0.3rem;
}
.apply_btn{
    background-color:#FF616D;
    color:white;
}
.reset_btn{
    background-color:white;
    color:rgb(235, 151, 165);
}