.search_input{
    border:none;
    outline:none;
    font-size:1.3rem;
}
.search_bar_icons{
    width : 1.5rem;
    height : 1.5rem;
}
.admin_icon{
    border-radius: 50%;
}
.user_role{
    font-weight: 600;
}
