<img  alt = "search_icon" [src] = "search_icon()">
<input class ="search_input" type="search" placeholder="Search">
<img alt = "categories_icon" [src] = "categories_icon()">
<img alt = "language_icon" [src] = "language_icon()">
<img alt = "mode_icon" [src] = "mode_icon()">
<img alt = "notifications_icon" [src] = "notifications_icon()">
<img class = "admin_icon search_bar_icons" alt = "admin_icon" [src] = "admin_icon()">
<div class ="user_name nav_content">John Abraham<br>
    <span class = "user_role nav_content">Admin</span>
</div>
<img class = "search_bar_icons" alt = "down_arrow_icon" [src] = "down_arrow_icon()">
